<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds">
    <contextName>logback</contextName>
    <!--全局变量，日志位置-->
    <property name="LOG_HOME" value="./logs" />
    <!--输出方式以及格式-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{5}.%M[%L] %msg%n</pattern>
        </encoder>
    </appender>

    <!--该策略用来切分文件-->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--过滤INFO以下不输出到文件-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <!--当天保存的文件名-->
        <file>${LOG_HOME}/info.log</file>
        <!--信息格式化-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%thread] %-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{5}.%M[%L] %msg%n</pattern>
        </encoder>
        <!--今天之前的日志名-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--指定日志切分方式-->
            <FileNamePattern>${LOG_HOME}/backup/info.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--最大保存30的日志-->
            <maxHistory>30</maxHistory>
            <!--日志上限大小-->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${LOG_HOME}/error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%thread] %-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{5}.%M[%L] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>30</maxHistory>
            <FileNamePattern>${LOG_HOME}/backup/error.%d{yyyy-MM-dd}.log</FileNamePattern>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 必须节点日志级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="INFO" />
        <appender-ref ref="ERROR" />
    </root>
</configuration>